<app-navbar></app-navbar>

<main class="container my-3">
    <div class="card">
        <div class="text-center">
            <img src="../../../assets/images/{{imagenProducto}}" class="img-fluid mt-0 mb-2" width="250" alt="">
        </div>
        <div class="">
            <div class="mx-2">
                <h5 class="">{{nombreProducto}}</h5>
                <p class="mb-0">{{descripcion}}</p>
                <div class="text-right mt-3">
                    <span class="mr-3">Precio: L. {{precio}}.00</span>
                </div>
                
            </div>
        </div>
    </div>
    <form class="mx-3 my-4">
        <label for="">Cantidad:</label>
        <input type="number" min="1" class="form-control" [(ngModel)]="cantidad" name="cantidad" id="cantidad" style="width: 40%;">
    </form>
    <div class="text-center">
        <button class="btn btn-primary" style="margin: 0 auto;" (click)="agregarProducto()">Añadir Producto</button>
    </div>
</main>
