<main class="container my-3 py-2">
    <div class="card mt-1">
        <div class="text-center mt-4">
            <img src="../../../assets/images/logos/user-profile.png" class="img-fluid" style="width: 50%; height: auto;">
            <h4 class="my-3">Nombre del Usuario</h4>
        </div>
        <div class="card-body" style="margin-top: 40px;">
            <div class="profile-list-item">
                <h5>Teléfono: </h5>
            </div>
            <div class="profile-list-item">
              <h5>Correo: </h5>
            </div>
            <div class="profile-list-item">
                <h5>Cliente Bronce</h5>
                <h6>30 Pedidos Realizados</h6>
            </div>
            <div class="atencion-cliente text-center">
              <h5>Atencion al Cliente</h5>
            </div>
        </div>
    </div>
</main>

<app-footbar></app-footbar>