<main class="container my-3 py-2" style="min-height: 110vh;">
    <div class="card mt-1">
        <div class="text-center mt-4">
            <img src="../../../assets/images/logos/user-profile.png" class="img-fluid" style="width: 50%; height: auto;">
            <h4 class="my-3">{{clienteActual.nombre}} {{clienteActual.apellido}}</h4>
        </div>
        <div class="card-body" style="margin-top: 30px;">
            <div class="profile-list-item">
                <h6>Teléfono: {{clienteActual.telefono}}</h6>
            </div>
            <div class="profile-list-item">
              <h6>Correo: {{clienteActual.correo}}</h6>
            </div>
            <div class="profile-list-item">
                <h5 *ngIf="pedidosCliente.length < 30">Cliente Bronce</h5>
                <h5 *ngIf="pedidosCliente.length < 60 && pedidosCliente.length >= 30">Cliente Plata</h5>
                <h5 *ngIf="pedidosCliente.length < 90 && pedidosCliente.length >= 60">Cliente Plata</h5>
                <h6>{{pedidosCliente.length}} Pedidos Realizados</h6>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-primary btn-lg" (click)="clientesService.logOut()">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</main>

<app-footbar></app-footbar>