.profile-list-item{
    border-bottom: 1px solid rgba(189, 185, 185, 0.616);
    border-top: 1px solid rgba(189, 185, 185, 0.616);
    height: 50px;
}

.profile-list-item h5{
    margin-top: 10px;
    margin-left: 5px;
}