.profile-list-item{
    border-bottom: 1px solid rgba(189, 185, 185, 0.616);
    border-top: 1px solid rgba(189, 185, 185, 0.616);
    font-size: 1.3rem;
}

.profile-list-item h5,h6{
    margin-top: 10px;
    margin-left: 5px;
}
