<app-navbar></app-navbar>

<main class="container my-3">
    <div id="map" class="my-3" style="height: 350px;"></div>

    <div class="text-center">
        <span class="text-sm">La entrega se realizara en la siguiente dirección basandonos en su ubicación</span>
    </div>
    
    <main class="container my-3">
        <select class="form-control" [(ngModel)]="opcionSeleccionada" name="opcionSeleccionada">
            <option value=''>Seleccione su método de Pago</option>
            <option value="tarjeta">Tarjeta contra entrega</option>
            <option value="efectivo">Efectivo</option>
        </select>
    </main>

    <div class="text-center">
        <button class="btn btn-primary" (click)="realizarPedido()">Realizar Pedido</button>
    </div>
    
</main>