<app-navbar></app-navbar>

<main class="container mt-3">
    <div class="card my-2" *ngFor="let producto of productos">
        <div class="row no-gutters">
            <div class="col-4 align-self-center">
                <img src="../../../assets/images/{{producto.imagenProducto}}" class="img-fluid px-2" alt="">
            </div>
            <div class="col-7">
                <h5 class="mt-2">{{producto.nombreProducto}}</h5>
                <p class="mb-0">{{producto.descripcion}}</p>
                <div class="text-right mt-3">
                    <a routerLink="infoproducto/{{producto._id}}" id="añadir-producto" ><fa-icon [icon]="faPlusCircle"></fa-icon> Añadir</a>
                </div>
                
            </div>
        </div>
    </div>
    
</main>
